* {
  font-family: sans-serif;
}
.searchJobContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.jobCard {
  max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgba(128, 128, 128, 0.829);
  font-size: 14px;
  line-height: 1.5;
  padding: 1.5rem;
  border-radius: 20px !important;
  transition: transform 0.2s ease-in;
  .cardHeader {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 1rem;
    .headerDetails {
      .companyName {
        font-weight: 600;
        color: rgba(128, 128, 128, 0.829);
      }
      .role {
        color: rgb(97, 97, 97);
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .salary {
    color: gray;
    margin: 0.5rem 0;
  }
  .aboutCompany {
    font-size: 16px;
    font-weight: 400;
  }
  .jd {
    color: gray;
  }

  .showMore {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    min-width: 100%;
    min-height: 30%;
    background: linear-gradient(to bottom, transparent -150%, white 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .modalBtn {
      color: rgb(111, 0, 255);
      cursor: pointer;
    }
    .apply {
      width: 100%;
      background: #fff;
      .experience {
        font-weight: 600;
        color: rgb(143, 143, 143);
        margin-left: 1rem;
        margin-top: 1rem;
      }
      .btn {
        margin: 1rem 1rem 0;
        background-color: rgb(85, 239, 196);
        color: rgb(0, 0, 0);
        font-weight: 500;
        padding: 8px 0;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.jobCard:hover {
  transform: scale(1.02);
}

.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  .filter {
    min-width: 150px;
    font-size: 0.75rem;
    outline: none;
    border: none;
  }
}
